.section {
  border: 1px solid lightgray;
  width: 100%;
}
.section h3 {
  border-bottom: 1px solid lightgray;
  text-align: left;
  padding: 8px;
}
.section .cards {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

.section .cards * {
  flex: auto;
  height: 150px;
  min-width: 150px;
  margin: 0 8px 8px 0;
}
